@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #000;
}

.header {
  text-align: center;
  background-color: #2F5586;
  width: 100%;
}

@media only screen and (min-width: 700px) {
  .header__info {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media only screen and (min-width: 700px) {
  .header__img {
    border-radius: 140px;
    border: black;
    border-width: 4px;
    margin-left: 10px;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.footer__redsocial {
  display: block;
  width: 80px;
  height: 80px;
  background: black;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 100px;
  transition: 3s ease all;
}

.footer__redsocial:hover {
  animation: x .9s ease;
}

@keyframes x {
  from {
    transform: rotate3d(0, 0, 0, 0);
  }
  to {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}

.footer .twit {
  background: #00acee;
}

.footer .face {
  background: #3b5998;
}

.footer .ins {
  background: #3d2734;
}

.footer .lin {
  background: #0e76a8;
}

h1 {
  color: white;
  font-family: 'Ubuntu', sans-serif;
}

.paragraph {
  color: white;
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 10px;
  margin-top: 10px;
}

@media only screen and (min-width: 600px) {
  .paragraph {
    font-size: 20px;
  }
}

.a {
  color: white;
}

.a__i {
  color: white;
  font-size: 40px;
  line-height: 80px;
}

.article__acordeon {
  text-align: center;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 0px;
  margin-right: 10px;
  min-width: 300px;
}

.img {
  min-width: 360px;
  margin: 10px;
}

.div__habilidades {
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.div__progress {
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 12px;
}

section {
  background-color: #4F5864;
  margin-top: 11px;
  margin-bottom: 11px;
  padding-top: 11px;
  padding-bottom: 11px;
}
